.container {
    position: relative;
}

.waveform {
    margin: 0 auto;
    height: 200px;
}

.loader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: #201E1E;
}