.list {
    color: #95989A;
    margin: 0;
    padding: 0;
    width: 100%;
}

.listItem,
.listItemSelected {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.listItem i,
.listItemSelected i {
    margin: 0 0 0 0.5rem;
}

.listItemSelected {
    color: white;
    background: #D62B70;
}

.listItem:hover {
    background: rgba(0, 0, 0, 0.75);
}