.audioFiles {
    color: #95989A;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
}

.audioFiles h3 {
    text-transform: uppercase;
    font-size: 1rem;
}

.audioFiles h3 span {
    color: #6f6f70;
}

.audioFiles ul {
    padding: 0;
    margin: 0.25rem 0 0.5rem 0;
}

.listItem,
.listItemSelected {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.listItem i,
.listItemSelected i {
    margin: 0 0 0 0.5rem;
}

.listItemSelected {
    color: white;
    background: #D62B70;
}

.listItem:hover {
    background: rgba(0, 0, 0, 0.75);
}