.editor {
    display: flex;
    flex: 3 3;
    flex-flow: row wrap;
    padding: 1rem;
}

.waveform,
.time,
.buttonPanel,
.buttonPanelBottom {
    flex: 1 1 100%;
}

.waveform {
    margin-bottom: 1.5rem;
}

.buttonPanel {
    display: flex;
    justify-content: space-around;
}

.buttonPanel,
.transcript {
    max-width: 800px;
    margin: 0 auto 1rem auto;
}


.buttonPanel > * {
    flex: 0 1 80px;
    height: 80px;
}

.buttonPanelBottom {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.setTimeBtnShake {
    animation: shake 150ms 2 linear;
}

.setTimeBtnShake > span,
.setTimeBtn > span {
    display: block;
    margin: 0 auto 0.4em auto;
}

.time {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.time > * {
    flex: 0 1 100px;
}

.time .timeBlock {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #95989A;
}

.time .timeValue {
    border: none;
    background: none;
    color: white;
    padding: 0.25rem;
    text-align: center;
}

.validationErrors {
    font-size: 0.75rem;
    text-align: center;
    color: #F92727;
    width: 100%;
    margin-bottom: 1rem;
}


.transcript {
    flex: 1 1 100%;
    height: calc(100% - 441px);
    align-content: center;
}

.transcript button {
    margin: 0 auto;
    display: block;
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }
    50% {
        transform: translate(-3px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}